extends app

block intro
    form.namecard-form(action='/hello',method ='POST')
        label.namecard-prompt Please enter name here
            input.namecard-name(type='text' name ='username')
        button.namecard-submit(type='submit') SUBMIT!